@charset "utf-8";

.series{
    margin-top: -4px;
}
.gather{
    font-weight: 500;
    margin-top: 11px;
    padding-right: 23px;
    cursor: pointer;
}
.active{
    color: #000 !important;
    background-color: #fff;
    border: none;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .wavve_in{
        padding-left:240px; 
    }
}