@charset 'utf-8';

/* 공포호러, 애니메이션 추천 컨텐츠 */

.M4list02{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.M4list02 .title {
    color: #fff;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}
.M4list02 .slick-arrow{
    text-indent: -999999px;
}
.M4list02 .m4poseter{
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.M4list02 .m4poseter img{
    cursor: pointer;
    transition: 0.2s;
}